*.egg-info
dist/
build/
__pycache__/
.cache
*.sqlite3
*.swp
*.pyc
.coverage

# Pipenv
Pipfile
Pipfile.lock

# IDE and Tooling files
.idea/*
*~
.vscode

# Environments
venv/
venv.bak/

# macOS
.DS_Store